default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: learn2vote_api_development
test:
  <<: *default
  database: learn2vote_api_test
production:
  <<: *default
  database: learn2vote_api_production
  username: learn2vote_api
  password: <%= ENV['LEARN2VOTE_API_DATABASE_PASSWORD'] %>